################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chess/bin/Debug
/Chess/obj/Debug
